{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <h1> Annonce {{annonce.titre}} </h1>
    <ul>
        <li> Date de publication  : {{ annonce.datePublication |date('Y-m-d') }} </li>
        <li> Entreprise : {{ recruteur.entreprise}} </li>
        <li> Poste : {{ annonce.poste}} </li>
        <li> Domaine : {{ annonce.domaine}} </li>
        <li> Salaire annuel : {{ annonce.salaire}} </li>
        <li> Description : {{ annonce.description}} </li>
    </ul>


    {% if is_granted('ROLE_RECRUTEUR') %}
            <a href="{{ path('app_annonces_registration', { 'id': annonce.id }) }}" class="btn btn-success btn-sm">
                         {{ "Modifier" | trans }}
            </a>
    {% endif %}
     {% if is_granted('ROLE_CONSULTANT') %}
            <a href="{{ path('app_annonces_registrationValidated', { 'id': annonce.id }) }}" class="btn btn-success btn-sm">
                         {{ "Vadider" | trans }}
            </a>
    {% endif %}

     {% if is_granted('ROLE_RECRUTEUR') %}
            
    <h2> Liste des candidats postulants à cette annonce </h2> 
    
       <table class="table">
            <thead>
                <tr>
                <th scope="col">Nom</th>
                <th scope="col">handle</th>
                </tr>
            </thead>
            {% for candidat in candidats %}
            <tbody>
   
                <tr>
                
                <td>{{ candidat.profilCandidat.nom }}</td>
                <td><a href="{{ path('app_profil_candidat_r', { 'id': candidat.profilCandidat.id }  ) }}" class="btn btn-success btn-sm">
                         {{ "Editer" | trans }}
                </a>
                </td>
                
                </tr>
            </tbody>
            {% endfor %}
        </table>
    {% endif %}
            {% if is_granted('ROLE_CANDIDAT') %}
            <a href="{{ path('app_postuler_annonce', { 'id': annonce.id }) }}" class="btn btn-success btn-lg">
                         {{ "Postuler" | trans }}
            </a>
            {% endif %}
             <button class="btn btn-lg btn-success"  onclick="history.go(-1);"> retour  </button>
   
</div>
{% endblock %}
