{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <h1> Liste de mes annonces </h1>
    <div class="">  
        <table class="table">
            <thead>
                <tr>
                <th scope="col">titre</th>
                <th scope="col">Handle</th>
    
                </tr>
            </thead>
            <tbody>
            {% for annonce in annonces %}
                <tr>
                
                <td>{{ annonce.titre }}</td>
                
                <td>  <a href="{{ path('app_annonce_remove', { 'id': annonce.id }) }}" class="btn btn-warning btn-sm">
                         {{ "Supprimer" | trans }}
                </a> </td>
                <td>{% if annonce.validated %} 
                        Validée
                    {% else %} Attente Validation 
                    {% endif %} </td>
              
               
                <td>  <a href="{{ path('app_annonce_candidat', { 'id': annonce.id }) }}" class="btn btn-success btn-sm">
                         {{ "Editer" | trans }}
                </a> </td>
                
               
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>        
</div>
{% endblock %}
