

{% block body %}
    <p> Bonjour {{ Nom }}
    <p>Une Candidature pour le poste de {{ titre }} a été acceptée </p>
    <p> postulant : {{ Nom}} ."". {{ Prenom}}  </p>
    <p>Cordialement </p>
    <p>Votre consultant {{ signature }} </p>
{% endblock %}