{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Votre Annonce  ! </h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.titre) }}
        {{ form_row(registrationForm.poste) }}
        {{ form_row(registrationForm.domaine) }}
        {{ form_row(registrationForm.salaire) }}
        {{ form_row(registrationForm.description) }}
       

        <button type="submit" class="btn btn-lg btn-success">Enregistrer</button>
        <button class="btn btn-lg btn-primary"  onclick="history.go(-1);"> retour  </button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
