<!DOCTYPE html>
<html>
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block stylesheets %}
    {% endblock %}
    <title>Blog - {% block title %}{% endblock %}</title>
</head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TRK Conseil </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
   
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('app_default') }}">Accueil  </a>
      </li>
       {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administrateur
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       
          <a class="dropdown-item" href="{{ path('app_users') }}">Liste Utilisateurs En attente </a>
          <a class="dropdown-item" href="{{ path('app_register') }}" >Créer Compte Utilisateur Consultant </a>

        </div>
      </li>
      {% endif %}

     {% if is_granted('ROLE_CONSULTANT') %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Consultant
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('app_postulant_AV')}}">liste Candidats postulant a valider</a>
          <a class="dropdown-item" href="{{ path('app_annonces_AV') }}">Liste annonces a valider</a>
            </div>
        </li>

      {% endif %}

      {% if is_granted('ROLE_CANDIDAT') %}
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Candidat
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ path('app_annonces_candidat')}}">mes Annonces </a>
                  <a class="dropdown-item" href="{{ path('app_profil_candidat')}}">Mon profil </a>
                  <a class="dropdown-item" href="{{ path('app_annonces') }}">Liste annonces </a>
              </div>
          </li>

      {% else %}
        {% if is_granted('ROLE_RECRUTEUR') %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Recruteur
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <a class="dropdown-item" href="{{ path('app_annonces_recruteur')}}">mes Annonces </a>
              <a class="dropdown-item" href="{{ path('app_profil_recruteur')}}">Mon profil </a>
              <a class="dropdown-item" href="{{ path('app_annonces_registration')}}">Créer une Annonce </a>
            </div>
          </li>

        {% endif %}
      {% endif %} 

        <a class="nav-link" href="{{ path('app_login') }}">Login </a>
      </li>
               </div>
    

    </ul>
  </div>
</nav>

        {% block body %}{% endblock %}
        {% block scripts %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
    </body>
</html>
